<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Global Temperatures )</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>
  <div class="container">
    <nav class="navbar">
      <a href="../Templates/Dashboard.html"> Dashboard</a>
      <a href="../Templates/home.html"> 1995 vs 2019 Temperatures</a>
      <a href="../Templates/heatmap.html"> Global Temperatures</a>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <h1>Project 2 Team3</h1>
      <p>
        Project Overview:
        The goal of this project was to develop an interactive view of Average Temperature of
        global cities during the period between Jan 1995 - May 2020. We aim to design a User-Driven
        D3/Plotly heatmap of US that would display average temperature filters such as by country, region, etc.
        Other visualizations include a Time Series, Dual Line Graph(Plotly) of High/Low temp by month
        for Countries/Regions.
      </p>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <br>
        <div data-aos="zoom-in-left">
          <img width="1000" src="../static/images/slide1.png">
        </div>
        <br>
        <div data-aos="zoom-in-right">
          <img width="1000" src="../static/images/bargraph.PNG">
        </div>
      </div>
    </div>


  </div>
 
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="../static/js/app1.js"></script>
  <script type="text/javascript">
    AOS.init({
      duration: 1000
    });</script>

</body>

</html>